# {date:YYYY/M/D}

## Work Done

* {main_category_1}
    * {sub_category_1}
        * {item_1}
            * {detail_1}
            * {detail_2}
        * {item_2}
            * {detail_3}
    * {sub_category_2}
        * {item_3}
            * {detail_4}
* {main_category_2}
    * {sub_category_3}
        * {item_4}
            * {detail_5}
        * {item_5}
            * {detail_6}

## Next Tasks

* {next_task_1}
* {next_task_2}

