# {date:YYYY/M/D}

## Work Done

* {project_name_A}
    * {main_category_A_1}
        * {sub_category_A_1}
            * {detail_A_1}
            * {detail_A_2}
        * {sub_category_A_2}
            * {detail_A_3}
    * {main_category_A_2}
        * {sub_category_A_3}
            * {detail_A_4}
* {project_name_B}
    * {main_category_B_1}
        * {sub_category_B_1}
            * {detail_B_1}
        * {sub_category_B_2}
            * {detail_B_2}

## Next Tasks

* {next_task_1}
* {next_task_2}

